<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pets"
        tools:targetApi="31">
        <activity
            android:name=".ActivityManu.PatsCard"
            android:exported="false"
            android:label="@string/title_activity_pats_card"
            android:theme="@style/Theme.Pets">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityManu.PasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_password"
            android:theme="@style/Theme.Pets">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityManu.NameActivity"
            android:exported="false"
            android:label="@string/title_activity_name"
            android:theme="@style/Theme.Pets">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityManu.CheckingCode"
            android:exported="false"
            android:label="@string/title_activity_checking_code"
            android:theme="@style/Theme.Pets">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityManu.MainAuthorization"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Pets">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityManu.RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_main_authorization"
            android:theme="@style/Theme.Pets" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>